<nav
  style="
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
  "
>
  <div
    class="d-flex"
    style="
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    "
  >
    <button
      id="goBackButton"
      style="background-color: transparent; border: none; cursor: pointer"
    >
      <i class="fa-solid fa-arrow-left"></i>
    </button>

    <div>
      <a href="/project/home">
        <i class="fa-solid fa-house" style="color: #007bff"></i>
      </a>
    </div>
  </div>
</nav>

<script>
  const goBackButton = document.getElementById("goBackButton");

  goBackButton.addEventListener("click", () => {
    window.history.back();
  });
</script>
