<link rel="stylesheet" href="../form.css" />

<div class="form-container">
  <form action="/project/create" method="post">
    <div class="form-group">
      <label for="name">Project Title</label>
      <input type="text" id="name" name="name" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        name="description"
        class="form-control"
        required
        rows="5"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input
        type="text"
        id="author"
        name="author"
        class="form-control"
        required
      />
    </div>
    <div class="form-group submit-btn">
      <button type="submit" class="btn btn-primary">Create Project</button>
    </div>
  </form>
</div>
