<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <!-- FONTAWESOME SCRIPT -->

    <script
      src="https://kit.fontawesome.com/4bfb5306a3.js"
      crossorigin="anonymous"
    ></script>

    <%- style %>

    <style>
      body {
        background-color: #f3fcff;
        /* background-color: red; */
      }
    </style>
  </head>
  <body>
    <%- body %> <%- script %>
  </body>
</html>
