body {
  margin: 10px 0;
  padding: 0;
  font-family: sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Poppins", sans-serif;
}

#ifEmptyProject {
  display: none;
  font-size: 2em;
  color: gray;
  margin: 120px auto;
}

#ifEmptyProject .projectText {
  font-weight: bold;
  color: #0099ff;
}

a {
  text-decoration: none;
}

/* PROJECT */

.project-container {
  margin: 0 auto;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-container .project-detail {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.project-detail .project-author h2 {
  cursor: default;

  width: 1.5em;
  height: 1.5em;
  padding: 5px;
  background-color: #0099ff;
  font-weight: bold;
  color: white;
  border-radius: 50%;
}

.project-detail .project {
  background-color: #fff;
  padding: 10px 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px #5858586e;
  width: 100%;
}

.project-detail .project {
  position: relative;
  min-width: 170px;
}

.btn a,
.project-detail .project {
  transition: all 50ms linear;
}

.project-detail .project:hover {
  scale: 102%;
}

.project-detail .project .project-title a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0099ff;
}

.project-detail .project .project-title a:hover {
  text-decoration: underline;
}

.project-detail .project .project-description p {
  color: #525252;
  letter-spacing: 0.1cap;
  line-height: 2.5ch;
}

.del-btn-container {
  position: absolute;
  right: -30px;
  top: 10px;
  z-index: 10;
}

.project-detail .project .del-btn-container form {
  padding: 0.5rem;
  display: grid;
  place-items: center;
  width: 25px;
  height: 25px;
  color: white;
  background-color: #ff9900;
  border-radius: 50%;
}
.del-btn-container form button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

/* BUTTON */

.btn {
  position: fixed;
  right: 20px;
  bottom: 50px;
}

.btn a {
  background-color: #0099ff;
  border-radius: 5px;
  width: fit-content;
  padding: 1rem 1.2rem;
  color: #d3d3d3;
}

.btn a:hover {
  color: #fff;
  background-color: #006eff;
}

@media (max-width: 664px) {
  .project-container {
    display: flex;
  }

  .project-container {
    width: 450px;
  }

  .project-detail .project-author h2 {
    width: 1.3em;
    height: 1.3em;
    font-size: 1em;
  }

  .project-detail .project .project-title a {
    font-size: 1.2em;
  }

  .project-detail .project .project-description p {
    font-size: 0.8em;
  }
  .btn a {
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 480px) {
  .project-container {
    display: flex;

    margin-left: 10px;
  }
  #ifEmptyProject {
    font-size: 1.3em;
    margin: 50px auto;
  }
  .project-container {
    width: 340px;
  }

  .project-detail .project-author h2 {
    width: 1.3em;
    height: 1.3em;
    font-size: 1em;
  }

  .project-detail .project .project-title a {
    font-size: 1.2em;
  }

  .project-detail .project .project-description p {
    font-size: 0.8em;
  }
  .btn a {
    padding: 0.5rem 1rem;
  }
}
